.button {
  border: 1px solid;
  padding: 1em 2em;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  font-weight: 300;
  img {
    margin-left: 1em;
  }
}
