.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
  h5 {
    font-family: 'Noe Display Bold', serif;
    font-size: 3em;
    margin-bottom: 0.2em;
  }
  span {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4em;
    .list {
      z-index: 99999;
      display: flex;
      flex-direction: column;
      width: 18%;
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: inherit;
        margin: 0.5em 0;
        font-size: 1.2em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding-left: 0.5em;
        padding-top: 0.2em;
        text-align: left;
        &:active,
        &:focus {
          border-left: 2px solid;
          font-weight: 500;
        }
        &:hover {
          transition: all 0.3s ease-in;
          font-weight: 500;
        }
      }
      .active {
        border-left: 2px solid;
        font-weight: 400;
      }
    }
    .experience {
      width: 70%;
      margin-top: 0.5em;
      h6 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.4em;
        margin-bottom: 0.2em;
      }
      p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 1.1em;
      }
      ul {
        margin-left: -1.5em;
        li {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-size: 1.1em;
          line-height: 1.5em;
          margin: 0.8em 0;
          list-style: circle;
        }
      }
    }
  }
}

//big screens
@media screen and (min-width: 1500px) {
  .container {
    padding: 0 20em;
    .content {
      .list {
        width: 15%;
      }
    }
  }
}

//mobile
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1em;
    h5 {
      font-size: 2em;
    }
    .content {
      display: flex;
      flex-direction: column;
      .list {
        z-index: 99999;
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        button {
          background: transparent;
          border: none;
          cursor: pointer;
          color: inherit;
          margin: 0.5em 0;
          font-size: 1.2em;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          padding-left: 0em;
          padding-right: 2em;
          padding-top: 0.2em;
          margin-bottom: 2em;
          text-align: left;
          &:active,
          &:focus {
            border-left: none;
            font-weight: 500;
          }
        }
        .active {
          border-left: none;
          font-weight: 400;
        }
      }
      .experience {
        width: 100%;
        h6 {
          font-size: 1.2em;
        }
        p {
          font-size: 1em;
        }
        ul {
          li {
            font-size: 1em;
          }
        }
      }
    }
  }
}
