.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2em 3em;

    svg {
      &:hover {
        opacity: 0.8;
        transition: 0.3 ease-in all;
      }
    }
    .logo {
      font-family: 'Noe Display Medium';
      font-size: 1.2em;
    }
    .theme {
      cursor: pointer;
    }
    .links {
      cursor: pointer;

      svg {
        margin-left: 1.5em;
      }
    }
  }
}
